.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the card takes full height */
    padding: 10px; /* Adds padding inside the card to create space around the image */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  }
  
  .card-img-top {
    width: 100%;
    height: 180px;
    object-fit: contain; /* Ensures the image fits within the container while maintaining aspect ratio */
    background-color: #f8f8f8; /* Adds a background color to fill the space around the image */
    margin-bottom: 10px; /* Adds space below the image */
  }
  
  .card-body {
    padding: 0; /* Removes padding inside the card body */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Ensures the body takes up remaining space */
  }
  
  .card-title {
    margin: 0px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
  
  .item-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    /* Pushes the price section to the bottom */
  }
  
  .item-price-new {
    color: #e74c3c;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .item-price-old {
    color: #95a5a6;
    font-size: 1em;
    text-decoration: line-through;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  