.rp {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    display: -ms-grid;
}

.rp h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.rp hr {
    width: 50px;
    height: 3px;
    background-color: #007bff;
    border: none;
    margin-bottom: 20px;
}

.rp-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rp-item .item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    max-width: 300px; /* Adjust as necessary */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.rp-item .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.rp-item .item img {
    max-width: 100%;
    border-radius: 8px;
}

.rp-item .item h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.rp-item .item .prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.rp-item .item .prices .new-price {
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
}

.rp-item .item .prices .old-price {
    color: #888;
    text-decoration: line-through;
    font-size: 1em;
}
