.popular {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.popular h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #080885fd; 
     
}



.popular-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.popular-item .item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.popular-item .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popular-item .item img {
    max-width: 100%;
    border-radius: 8px;
}

.popular-item .item h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.popular-item .item .prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.popular-item .item .prices .new-price {
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
}

.popular-item .item .prices .old-price {
    color: #888;
    text-decoration: line-through;
    font-size: 1em;
}
.h1{
    color:#0004ff9e;
}
